 
 @media screen and (max-width: 1100px) {
   .appbar {
     padding-left: 0px !important;
     padding-right: 0px !important;
   }
 }

 .css-19kzrtu {
   padding: 15px !important;
 }

 .appbar_connect_btn {
   color: var(--neutrals-4, #777E90) !important;
   font-weight: 700 !important; 
   text-transform: capitalize !important;
   margin: 0px 24px !important;
 }

 /* .css-11b3ww9-MuiPaper-root-MuiAppBar-root {
   position: absolute !important;
 } */

 .divider {
   width: 1px;
   height: 48px;
   background: var(--neutrals-2, #23262F);
   margin: 0px 40px;
 }