.hero_outer {
    background-image: url("../../../public/images/stars/bgstar.svg");
    background-color: #141416;
    width: 100%;
    position: relative;
}

.MuiTypography-root.MuiTypography-h2 {
    font-weight: 700 !important;
}

.hero_inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 66px 163px 126px 164px;
    overflow: hidden;
}

.typo1 {
    position: relative;
    width: 60%;
    color: #FFFFFF;
    text-align: center;
}

.vector {
    position: absolute !important;
    width: 40%;
    right: 107px;
    bottom: 0;
   
}

.typo2 {
    width: 55%;
    color: #D9D9D9;
    text-align: center;
    font-size: 24px;
    font-weight: 400 !important;
    line-height: 32px;
    letter-spacing: -0.48px;
}

.MuiTypography-h6 {
    font-size: 1.5rem !important
}

.Ellipse_15 {
    width: 1522px;
    height: 1522px;
    position: absolute;
    left:425px;
    top: 160px;
    border-radius: 1522px;
    background: radial-gradient(50% 50% at 50% 50%, #3B71FE 0%, rgba(59, 113, 254, 0.00) 100%);
}



@media screen and (max-width:800px) {
    .hero_outer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MuiTypography-root.MuiTypography-h2 {
        font-weight: 200 !important;
        font-size: xx-large !important;
    }

    .hero_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .typo1 {
        position: relative !important;
        display: flex !important;
        width: 100% !important;
        font-size: small !important;
        font-weight: 200 !important;
    }

    .vector {
        position: absolute !important;
        width: 150px !important;
        height: 6px !important;
        right: 40px !important;
        left: auto !important;
    }

    .typo2 {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}