.Frame_outer {
    display: flex;
    width: 80%;
    height: 6.5rem;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: -50px;
    margin: 0px 160px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.25);
    padding: 0 32px;
    gap: 24px;
}

.Frame_input_outer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 16px;
    width: 70%;
    }

.Frame_input {
    display: flex;
    width: 50%;
    /* gap: 16px; */
    border-radius: 10px;
    background: #F5F6F4;
}
.Frame_input .css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 10px !important;
}

.Frame_input .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
border-radius: 10px !important;
border: none !important;
}
.Frame_input .css-ittuaa-MuiInputAdornment-root{
    color: #000000 !important;
    font-weight: bold;
}
.Frame_input .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: none !important;
}
.Frame_input .css-152mnda-MuiInputBase-input-MuiOutlinedInput-input::placeholder{
    color: #000000 !important;
    font-weight: bold !important;
    opacity: 1 !important;
    border: none !important;
}
.Frame_input .css-152mnda-MuiInputBase-input-MuiOutlinedInput-input:focus{
    color: #000000 !important;
    font-weight: bold !important;
    opacity: 1 !important;
    border: none !important;   
}

.Frame_input .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input::placeholder{
    color: #000000 !important;
    font-weight: bold !important;
    opacity: 1 !important;
    border: none !important;
}
.Frame_input .css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input:focus{
    outline: none !important;
    color: #000000 !important;
    font-weight: bold !important;
}

.Frame_buttons {
   display: flex;
   justify-content: space-evenly;
   width: 50%;
}

.Frame_buttons button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 10px 20px;
    /* gap: 12px; */
    border-radius: 90px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
}

 @media screen and (max-width: 1270px) {
   .Frame_outer{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 20px 0px;
       height: auto;
       width: 70%;
   }
   .Frame_input_outer{
    width: 80%;
   }
   .Frame_buttons{
    justify-content: space-between;
    width: 80%;
   }
  }
  @media screen and (max-width: 700px){
    .Frame_outer{
        position: absolute;
        bottom: -240px;
    }
       .Frame_input_outer{
    flex-direction: column;
        width:80%;
    }
    .Frame_input{
        width: 100%;
    }
    .Frame_buttons{
        flex-direction: column;
        gap: 13px;
    }
  }