.tranding_outer {
    width: 100%;
    display: flex;
    padding: 50px 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.tranding_typos h3 {
    align-self: stretch;
    color: #000;
    text-align: center;

    /* Headline 2 */
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 116.667% */
    letter-spacing: -0.96px;
}

.tranding_typos_body1 {
    color: var(--neutrals-4, #777E90);
    text-align: center;

    /* Body 1 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 133.333% */
    letter-spacing: -0.24px;
}

.tranding_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
    }

.tranding_card_outer {
    width: 49%;
    overflow: hidden;
    border: 1px solid var(--neutrals-3, #353945);
    padding: 15px;
    border-radius: 24px;
    margin: 10px 0px;
}

.tranding_upper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.tranding_upper img {
    width: 30%;
}

.tranding_inner {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tranding_inner h6 {
    color: #000;
   font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.tranding_inner span {
    color: var(--neutrals-4, #777E90);

    /* Caption (Bold) */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

.tranding_inner img {
    background-color: var(--neutrals-3, #353945);
}

.tranding_bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.tranding_bottom h4 {
    /* width: 25%; */
    display: flex;
    font-weight: bold;
    align-items: center;
}

.tranding_bottom_button {
    width: 30%;
    display: flex;
    padding: 18px 20px !important;
    justify-content: right;
    align-items: center;
    align-self: stretch;
    border-radius: 50px !important;
}

.tanding_right {
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;}

.tranding_box {
    width: 100%;
}
.tranding_showmore_button{
 display: flex;
padding: 16px 24px !important;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 90px !important;
border: 2px solid var(--neutrals-4, #777E90) !important;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



@media screen and (max-width: 900px){
.tranding_outer{
    padding: 0px 40px;
}
.tranding_container{
flex-direction: column;
gap: 24px;
}
.tranding_card_outer{
    width: 100%;
 }

}