.about_outer {
    display: flex;
    height: 500px;
    padding: 0px 160px 30px 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: blueviolet;
}

.about_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    height: auto;
}

.about_typo1 {
    width: 600px !important;
}

.MuiTypography-h3{
    font-weight: bold !important;
}