.howItWorks_outer {
    width: 100%;
    padding: 120px 40px 40px 120px;
}

.howItWorks_typos h3 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.howItWorks_typos_body1 {
    color: #4F4F4F;
    font-size: 24px;
    font-weight: 400;
    padding-top: 20px;
}

.howItWorks_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 90px 0px;
}

.howItWorks_image {
    width: 45%;
    display: flex;
}

.howItWorks_image img {
    overflow: auto;
    width: 100%;
}

.imagewithsteps {
    width: 45%;
    display: flex;
    flex-direction: row;
}

.howItWorks_images_section {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 105px;
}

.stepswithTypos {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.howItWorks_steps {
    width: 100%;
    text-align: start;
    padding-left: 50px;
}

.howItWorks_steps h6 {
    color: #C4C4C4;
    font-weight: 400;
}

.howItWorks_steps h4 {
    font-weight: bold;
    font-size: 1.72rem;
}

.howItWorks_step_div2_body2 {
    color: var(--neutrals-4, #777E90);
    font-size: 14px;
    line-height: 44px;
    padding-top: 20px;
    padding-bottom: 70px;
    width: 60%;
}

.howItWorks_steps-bottom{
    width: 100%;
    text-align: start;
    padding-left: 50px;
}
.howItWorks_steps-bottom h6{
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 400;
}
.howItWorks_steps-bottom h4{
    font-weight: bold;
    font-size: 1.72rem;
}
.howItWorks_step_div2_body2_bottom {
    color: var(--neutrals-4, #777E90);
    font-size: 14px;
    padding-top: 20px;
    width: 70%;
}

@media screen and (max-width:900px){
.howItWorks_outer{
    padding: 120px 0px;
}
.howItWorks_container{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    padding: 50px 100px;
}
.howItWorks_image{
    width: 80%;
}
.imagewithsteps{
    width: 100%;
   justify-content: end;
}
}