.howItWorks_outer {
    width: 100%;
    padding: 40px 120px;
}

.howItWorks_step {
    display: flex;
    align-items: start;
    color: #C4C4C4;
    font-family: Gilroy;
    font-size: 18px;
    padding-left: 5.2rem;

}

.howItWorks_step_span1 {
    display: flex;
    flex-direction: row;
}

.howItWorks_step_span1 h4 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-left: 3.2rem;
}
.howItWorks_step_span2{
    display: flex;
}

.howItWorks_step_span2 .css-e784if-MuiTypography-root {
    color: var(--neutrals-4, #777E90);
    justify-content: start;
    padding-left: 3.8rem;
    font-size: 1.2rem;
}